<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "css/customer.css" %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body id="bg" style="background-image: url('{%static "css/cd_project_red.png"%}');">
<form method="post">
    {% csrf_token %}
    <h1>Вы действительно хотите удалить фильм: {{movie.title}} ?</h1>
    <button type="submit" class="btn btn-danger">Выполнить</button>
</form>
</body>
</html>