{% extends 'screening.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <center>
    <h1 class="mt-2" align="center">{{title}}</h1>
    <div class="d-flex justify-content-center mt-2">
    <div class="col-md-auto">
    <div class="card card-body">
    <form class="w-100 brd" action="#" method="post">
    <div class="form-group">
    <form method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
     <button type="submit" class="btn btn-primary btn-lg w-100">Добавить</button>
     <a class="btn btn-danger btn-lg mt-2 w-100" href= "{% url 'index_screening' %}">Отменить</a>
    </form>
    </div>
    </form>
    </div>
    </div>
    </div>
</center>
{% endblock %}