<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Фильм</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static "css/customer.css" %}" />
<body>
<header>
    <nav class="default-nav">
      <ul>
          <li> <a href="/witcher" style="color:yellow">Ведьмак</a> </li>
          <li><a href= "{% url 'index_movie' %}">Фильмы</a></li>
        <li><a href="{% url 'index_branch' %}"> Кинозал</a></li>
        <li><a href="{% url 'index_screening' %}"> Сеанс</a></li>
        <li><a href="/seats"> Места</a></li>
        <li><a href="/users">Покупатель</a></li>
        <li><a href="reservations">Резервирование</a></li>
        <li> <a href="seat_reserveds">Закрепление места</a></li>
      </ul>
    </nav>
  </header>

{% block content %}
<h1 class="mt-2" align="center">Информация о сеансе</h1>
<div class="d-flex justify-content-center">
<a href= "{% url 'upload_movie' %}">
 <button class="btn btn-primary btn-lg">Добавить новый сеанс</button>
</a>
</div>


<div class="d-flex justify-content-center mt-2">
 <table class="table table-striped w-75 mt-4">
    <thead>
      <tr>
       <th scope="col">Номер</th>
       <th scope="col">Название фильма</th>
       <th scope="col">Имя кинозала</th>
       <th scope="col">Длительность сеанса(минут)</th>
       <th scope="col">Дата сеанса</th>
       <th scope="col">Стоимость</th>
       <th scope="col">Обновить фильм</th>
       <th scope="col">Удалить фильм</th>
    </tr>
    </thead>
     {% for screening in screenings %}
      <tr>
      <td>{{screening.id}}</td>
      <td>{{screening.movie_id}}</td>
      <td>{{screening.branch_id}}</td>
      <td>{{screening.screening_time}}</td>
      <td>{{screening.date_film}}</td>
      <td>{{screening.price}}</td>
      <td><a href="update/{{movie.id}}" class="btn btn-success mt-2 w-100" id = '{{movie.id}}'>Обновление</a></td>
      <td><a href="delete/{{movie.id}}" class="btn btn-danger mt-2 w-100" id = '{{movie.id}}'>Удаление</a></td>
      {% endfor %}
      </tr>
 </table>
</div>
{% endblock %}
</body>
</html>