<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "css/customer.css" %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form method="post">
    {% csrf_token %}
    <h1>Удалить сеанс под номером: {{screening.id}} ?</h1>
    <button type="submit" class="btn btn-success mt-2 w-25">Выполнить</button>
    <a class="btn btn-danger mt-2 w-25" href= "{% url 'index_movie' %}">Отменить</a>
</form>
</body>
</html>