{% extends "base.html" %}
{% block title %}Авторизация{% endblock %}
{% block content %}

<div class="section__header">
    <h2 class="section__title__login">Авторизация</h2>
</div>
 <div class="d-flex justify-content-center">
     <div class="col-md-auto">
        <div class="card card-body">
    <form class="w-100 brd" action="" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Вход"></p>
         <p><a href="{% url 'register' %}" style="color:#0ac33e">Нет аккаунта?</a></p>
         <p><a href="{% url 'reset_password' %}" style="color:#0ac33e">Забыли пароль?</a></p>
    </form>
        </div>
     </div>
</div>
<br>
<br>
{% endblock %}

