<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/login.css" %}" />
    <link rel="stylesheet" href="{% static "css/user_information.css" %}" />
    <link rel="stylesheet" href="{% static "css/footer.css" %}"/>
</head>
<body>
<div id="header">
         <a class="nav__link" href="/user_information"><span class="logo">Октябрь</span></a>
</div>
{% block content %}
<div class="password_done">
<p class="a_password">Восстановления пароля завершено</p>
<hr width="20%" align="left">
<p>Ваш пароль был сохранён. Теперь вы можете войти</p>
    <a href="{% url "login" %}">Войти</a>
</div>
{% endblock %}
</body>
</html>