<br>
<div class="d-flex justify-content-center">
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item {% if not prev_url %} disabled {% endif %}">
      <a class="page-link" href="{{ prev_url }}" tabindex="-1">Назад</a>
    </li>

      {% for n in now_screenings.paginator.page_range %}

      {% if now_screenings.number == n %}
     <li class="page-item active">
      <a class="page-link" href="?page={{n}}">{{n}}<span class="sr-only">(current)</span></a>
    </li>
      {% else %}
    <li class="page-item">
        <a class="page-link" href="?page={{ n }}">{{n}}</a>
    </li>
      {% endif %}
      {% endfor %}
     <li class="page-item {% if not next_url %} disabled {% endif %}">
      <a class="page-link" href="{{ next_url }}" tabindex="-1">Вперёд</a>
    </li>
  </ul>
</nav>
</div>