<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-movies">
			  	<div class="card-header">
			  		<h5 class="card-title">Количество фильмов</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_movies}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-branchs">
			  	<div class="card-header">
			  		<h5 class="card-title">Количество кинозалов</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_branchs}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-screenings">
			  	<div class="card-header">
			  		<h5 class="card-title">Количество сеансов</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_screenings}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-users">
			  	<div class="card-header">
			  		<h5 class="card-title">Количество мест</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_seats}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-seats">
			  	<div class="card-header">
			  		<h5 class="card-title">Количество покупателей</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_users}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-fixations">
			  	<div class="card-header">
			  		<h5 class="card-title">Количество резервирований</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_fixations}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>




<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-news">
			  	<div class="card-header">
			  		<h5 class="card-title">Количество новостей</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_news}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-movie-shots">
			  	<div class="card-header">
			  		<h5 class="card-title">Количество кадров к фильмам</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_movie_shots}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-branch-shots">
			  	<div class="card-header">
			  		<h5 class="card-title">Количество кадров кинозалов</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_branch_shots}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>



