.default-nav {

  display: block;
  background-color: #004990;
  overflow: hidden;

}
default-nav figure {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.default-nav ul li {
    list-style-type: none;
    float: left;
    display: block;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-size: 25px;
}

