body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    background: url("../images/cd_project_red.png");
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;


}



/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../images/cinema_2.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    color: #fce38a;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block ;
    width: 547px ;
    height: 3px ;
    margin: 60px auto ;

    background-color: #fce38a ;
}

.intro__suptitle {
    margin-bottom: 20px ;

    font-family: 'Kaushan Script', cursive ;
    font-size: 72px ;
    color: #fce38a ;
}


/* Header */
.header {
    width: 100% ;
    padding-top: 30px ;

    position: absolute ;
    top: 0 ;
    left: 0 ;
    right: 0 ;
    z-index: 1000 ;
}

.header__inner {
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
}

.header__logo {
    font-size: 30px ;
    font-weight: 700 ;
    color: #fce38a ;
}


/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #ffebcd;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    /*background-color: #fce38a;*/
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #004085;
}

.nav__link__login{
    color: #004085;
    font-weight: 700;
}
.frame {
  position: relative;
  height: 200px;
  width: 200px;
}
.image {
  display: block;
}
.image-desc {
  display: none;
  position: absolute;
  top: 0;
  left: 205px;
  padding: 20px;
  width: 200px;
  background: #fff;
}
.frame:hover .image-desc {
  display: block;
}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 170px;

    border: 3px solid #ffffff;

    font-size: 14px;
    font-weight: 1000;
    color: #fce38a;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #fce38a;
    color: #333;
}



/* Slider */
.slider {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 23%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #fff;
    opacity: .7;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}

/* Section */
.section {
    padding: 80px 0;
    background: url("../images/cd_project_red.png");

}

.section--devices {
    margin-bottom: 40px;
    padding-bottom: 0;

    background: url("../images/devices-bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section--gray {
    background-color: #f8f8f8;
}

.section--clients {
    background: #f5f5f5 url("../images/cinema_3.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section--map {
    padding: 40px 0;
    background: #e6e6e6 url("../images/cinema_map.jpg") center no-repeat;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;
}

.a_1 {
    display: block;
    text-align: center;
}

.section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #fce38a;
}

.section__title {
    font-size: 30px;
    font-weight: 600;
    color: #fce38a;
    text-transform: uppercase;

}

.section__title__login{
    font-size: 30px;
    font-weight: 600;
    color: #0ac33e;
    text-transform: uppercase;
    margin-bottom: -70px;
}
.section__title__login:after{
    content: "";
    display: block;
    width: 560px;
    height: 3px;
    margin: 20px auto;

    background-color: #0ac33e;
}

.section__title:after {
    content: "";
    display: block;
    width: 560px;
    height: 3px;
    margin: 20px auto;

    background-color: #fce38a;
}

.section__text {
    font-size: 20px;
    color: #999;
}



/* Card */
.card {
    margin: 80px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__item {
    width: 31.33333%;
    padding: 0 15px;
}

.card__inner {
    position: relative;
    background-color: #fce38a;
}

.card__inner:hover .card__img {
    transform: translate3d(-10px, -10px, 0);
}

.card__inner:hover .card__img img {
    opacity: .1;
}

.card__inner:hover .card__text {
    opacity: 1;
}

.card__img {
    background: linear-gradient(to bottom, #4e537d, #eab9b4);

    transition: transform .2s linear;
}

.card__img img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}

.card__text {
    width: 100%;

    font-size: 18px;
    color: #fce38a;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}

.card__info {
    margin-top: 20px;

    text-align: center;
}

.card__name {
    margin-bottom: 5px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.card__prof {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}

/* Statistics */
.statistics {
    background-color: #95e1d3;
}

.stat {
    display: flex;
    flex-wrap: wrap;
}

.stat__item {
    flex: 1 1 0;
    padding: 70px 25px;

    border-left: 1px solid #b5eae0;

    text-align: center;
    color: #fff;
}

.stat__item:last-child {
    border-right: 1px solid #b5eae0;
}

.stat__count {
    margin-bottom: 10px;

    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}


/* Services */
.services {
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    width: 33.33333%;
    padding: 0 35px 40px 85px;
    position: relative;
    margin-bottom: 40px;
}

.services__item--border {
    border-bottom: 1px solid #e5e5e5;
}

.services__icon {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}

.services__title {
    margin-bottom: 10px;

    font-size: 20px;
    color: #333;
    text-transform: uppercase;
}

.services__text {
    font-size: 20px;
    color: #999;
}

/* Clients */
.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.clients__item {
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
    margin-bottom: 60px;
}

.clients__photo {
    width: 110px;
    height: 110px;

    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}

.clients__name {
    margin-bottom: 5px;

    font-size:20px;
    color: #fce38a;
    text-transform: uppercase;
}

.clients__prof {
    font-size: 15px;
    color: #fce38a;
    font-style: italic;
    font-weight: 300;
}

.clients__text {
    font-size: 20px;
    color: #fce38a;
}

.footer__text{
    font-size: 20px;
    color: white;
}

.clients__text:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px 0;

    background-color: #fce38a;
}

.map {
    text-align: center;
}

.map__title {
    font-size: 24px;
    color: #004990;
    font-weight: 700;
    text-transform: uppercase;
}

.map__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px auto 0;

    background-color: #004990;
}

.map__title a {
    color: inherit;
    text-decoration: none;
}

.map__title a:hover {
    text-decoration: underline;
}


/* Copyright */
.copyright {
    padding: 20px 0;

    border-top: 1px solid #7CD1C0;

    font-size: 14px;
    color: #333;
    text-align: center;
}




.left-ads-display {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.product-men {
        margin-bottom: 1em;
        flex-basis: 370px;
        margin-right: auto;
        margin-left: auto;
    }

.product-shoe-info {
    padding: 0 0 15px 0;
    border: 1px solid #e4e4e4;
}

.men-thumb-item {
    position: relative;
}
.item-info-product h4 a {
    color: #004990;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.item-info-product h4 {
    margin-top: 0.5em;
}

.product_price {
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
    border-top: 1px solid #ddd;
}

span.money {
    font-size: 1em;
    font-weight: 800;
    color: #004990;
    letter-spacing: 2px;
}

.grid-img-right span.money {
    color: #004990;
    display: block;
}


