#total-movies{
		background-color: #4cb4c7;
	}
#total-branchs{
		background-color: #7abecc;
	}
#total-screenings{
		background-color: #7CD1C0;
	}
#total-users{
		background-color: #4cb4c7;
	}
#total-seats{
		background-color: #7abecc;
	}
#total-fixations{
		background-color: #7CD1C0;
	}

#total-news{
		background-color: #4cb4c7;
}

#total-movie-shots{
		background-color: #7abecc;
}

#total-branch-shots{
		background-color: #7CD1C0;
}